body {
    margin: 0px;
    padding: 0px;
    background-color:#fff;
}

#header {
    border-bottom: 1px dashed #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 12%;
    width:100%;
    background-color:#fff;
    z-index: 500;
    padding:1%;
}

#sidebar {
    position: fixed;
    font-side: small;
    border-right: 1px dashed #000;
    overflow: scroll;
    top:12%;
    height:88%;
    width:25%;
    padding-left:4%;
}

#sidebar ul {
    padding:0px;
    margin:0px;
    overflow-wrap: break-word;
}

#main {
    position: fixed;    
    background-color:#fff;
    top:12%;
    height:88%;
    left:25%;
    width: 72%;
    overflow: scroll;
}

.sidebar-item {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: small;
}

.sidebar-item h3 {
    font-size:.9em;
}

.sidebar-item:hover {
    background-color:#ccc;
}

#api-request {
    display:none;
}

#api-response {
    display:none;
}

.api-param-example {
    display: block;
    text-align: right;
    font-weight: 700;
}

.api-param-example:before {
    content: "for example: ";
    font-weight: 200 !important;
}
