body {
    margin: 0px;
    padding: 0px;
    background-color:pink;
}

#header {
    height: 10%;
    max-height: 10%;
    background-color: yellow;
}

#sidebar {
    background-color: #adadad;
    font-side: small;
    min-height: 90%;
    max-height:90%;
    overflow: scroll;
}

#main {
    height: 90%;
    max-height:90%;
    overflow: scroll;
}

.sidebar-item {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: small;
}
