body {
    margin: 0px;
    padding: 0px;
    background-color:pink;
}

#header {
    height: 100px;
    max-height: 100px;
    background-color: yellow;
}

#sidebar {
    background-color: #adadad;
    font-side: small;
    min-height: 500px;
    max-height:500px;
    overflow: scroll;
}

#main {
    min-height: 500px;
    max-height:500px;
    overflow: scroll;
    padding-bottom:100px;
}

.sidebar-item {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: small;
}
