@media print {

    #header {
	display: none !important;
    }

    #sidebar {
	display: none !important;
    }

    #main {
	position: auto !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	overflow: inherit !important;	
    }

    .modify-me {
	display:none !important;
    }

    .try-me:after {
	content: "" !important;
	// display:none !important;
    }

    .try-me-bottom {
	display:none !important;
    }
    
    hr {
	display: none !important;
    }
}
